/*body { */
body {
  height: 100%;
  width: 60%;
  background-color: blanchedalmond;
}

h2 { 
color: rgb(92, 85, 85);
} 

h3 {
  color: rgb(129, 17, 129);
}

h4 {
  color: purple;
}

h5 {
  color: antiquewhite;
}

h6 {
  color: black;

}

p {
 color: rgba(128, 0, 128, 0.822);
}

.orange {
  background-color: purple
}


/*height: 100%; */
/*width: 100%; */
/*} */
/*div	{ */
/*	margin: 70px; */
/*} */
/*h1 { */
/*display: inline-block;*/
/*	border: 10px solid      grey;*/
/* padding: 50px; */
/*	padding-top: 20px;*/
/*	padding-right: 19px;*/
/*	background-color: salmon;*/
/*	margin: 70px; */
/* } */

/* this turns the heading red */
/* h1 { */
/* color: red; */
/*background-color: chartreuse; */
/* } */
/*p { */
/*color: blue; */
/* } */

/* .orange {*/
/*backgroud-color: orange; */
/* } */

/* }*/
/*  #red*/
/* */
/* */
/* */
/* */
/* */
/* */
