/*body { */
body {
  background-color: turquoise;
}
h1 {
  color: darkmagenta;
  background-color: blue;
}

/*height: 100%; */
/*width: 100%; */
/*} */
/*div	{ */
/*	margin: 70px; */
/*} */
/*h1 { */
/*display: inline-block;*/
/*	border: 10px solid      grey;*/
/* padding: 50px; */
/*	padding-top: 20px;*/
/*	padding-right: 19px;*/
/*	background-color: salmon; */
/*	margin: 70px; */
/* } */

/* this turns the heading red */
/* h1 { */
/* color: red; */
/*background-color: chartreuse; */
/* } */
/* p { */
/*color: blue; */
/* } */

/* .orange {*/
/*backgroud-color: orange; */
/* } */

/* }*/
/*  #red*/
/* */
/* */
/* */
/* */
/* */
/* */
